.container_form {
	// position: absolute;
	// display: block;
	// height: 100%;
	width: 100%;
	border-radius: 4px;
	position: relative;
	top: 50px;
	margin: 0 auto;
	max-width: 400px;
	background-color: $color_main_bg;
	padding: 25px;
	font-size: 1.0rem;
	@extend %shadow_style;
	// transform: translate(-50%,-50%);
	
	h2 {
		padding: 20px 0 20px 0;
		text-align: center;
	}


	.form_buttons {
		padding: 10px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.form_link {
		display: block;
		text-align: center;
		padding: 20px 0px 0px 0px;
		// margin: 25px;
	}

	.form_checkbox {
		padding: 5px 0 10px 0;
	}
}

.form_input_text {
	@extend %border_style;
	width: 100%;
	display: block;
	// margin: 20px auto;
}

.form_select {
	width: 100%;
    height: 40px;
	font-size: 1.0rem;
	@extend %border_style;

}

@media (max-width: 768px) {
	.container_form {
		top: 0px
	}
}

