.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 55;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color_main;
		z-index: 50;
	}

	.header_body {
		position: relative; 
		display: flex;
		justify-content: space-between;
		height: $height_header;
		align-items: center;
	}

	.header_logo {
		flex: 0 0 $height_header*0.75;
		border-radius: 50%;
		position: relative;
		z-index: 51;
		img {
			max-width: 100%;
			display: block;
		}
	}

	.header_list {
		display: flex;
		position: relative;
		z-index: 50;

		li {
			list-style: none;
			margin: 0px 0px 0px 20px;
		}
	}

	.header_link {
		color: $color_main_bg;
		text-transform: uppercase;
		font-size: 1.0rem;
		text-decoration: none;
	}
}


@media (max-width: 768px) {
	.header {
		.header_burger {
			display: block;
			width: 30px;
			height: 20px;
			position: relative;
			z-index: 51;

			&::before,&:after, span {
				content: '';
				background: $color_main_bg;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&::before { top: 0;}
			&::after { bottom: 0;}		
			span { top: 9px;}

			&.active{
				span {
					transform: scale(0);
				}
				&::before {
					transform: rotate(45deg);
					top: 9px;
				}
				&::after {
					transform: rotate(-45deg);
					bottom: 9px;
				}
			} 
		}

		.header_menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: color_bg();
			transition: all 0.3s ease 0s;
			padding: $height_header * 1.4 10px 20px 10px;

			&.active {
				top: 0;
			}
		}
		
		.header_list {
			display: block;
			li {
				margin: 0 0 20px 0;
			}
		}
	}

	body.lock {
		overflow: hidden;
	}
}