.modal_container {
	position: fixed;
	display: flex;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: color_bg(0.7);
	z-index: 1000;
	justify-content: center;
	padding: $height_header 0 15% 0;

	.modal_window {
		background-color: $color_content_bg;
		margin: auto;
		border-radius: 4px;
		width: 400px;
		padding: 25px 40px;
		font-size: 1.0rem;
		@extend %shadow_style;

		h2 {
			padding: 20px 0 5px 0;
			text-align: center;
		}

		.modal_buttons {
			padding: 5px 0 10px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			button {
				width: 140px;
				margin-top: 20px;
			}
		}

		.modal_text {
			text-align: center;
		}

		.error_message {
			color: red;
			text-align: center;
			font-size: 1.0rem;
			margin-top: 20px;
		}
	}
}

.modal_container_animation {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: color_bg(0.7);
	z-index: 999;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;

	.modal_body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;

		.modal_content {
			position: relative;
			max-width: 800px;
			min-width: 320px;
			background-color: $color_content_bg;
			padding: 30px;
			opacity: 0;
			transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
			transition: all 0.8s ease 0s;

			.modal_title {
				font-size: 2rem;
				margin: 0 0 1em 0;
			}
	
			.modal_close {
				position: absolute;
				right: 10px;
				top: 10px;
				font-size: 1.5rem;
				cursor: pointer;
			}
			
			.close_button {
				display: block;
				z-index: 999;
			}
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;

		.modal_body {
			.modal_content {
				opacity: 1;
				transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			}
		}
	}
}

.close_button {
	display: none;
	position: absolute;
	right: 10px;
	top: 15px;
	// display: block;
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 55;
	&::before,&:after {
		content: '';
		background: black;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	&::before {
		transform: rotate(45deg);
		top: 9px;
	}
	&::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
}

@media (max-width: 768px) {
	.modal_container {
		background-color: $color_content_bg;
		padding: 0;
	
		.modal_window {
			padding: 25px 10px;
			box-shadow: none;

			h2 {
				padding: 20px 0 20px 0;
			}
		}
	}

	.close_button {
		display: block;
	}
}