//обнуление 
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: $color_content_bg;
}