@import "variables.scss";
@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";
@import "form.scss";
@import "workbench.scss";
@import "modals.scss";


//Стили для демонстрации
#root {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

//основные стили
.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}

.content {
	flex: 1 0 auto;
	padding: $height_header 0 0 0;
	// padding: $height_header * 1.25 0 0 0;
	.content_text {
		font-size: 1.0rem;
		line-height: 1.5rem;
		p {
			margin: 0px 0px 0px 20px;
		}
	}
}

.copy_object {
	position: absolute;
	background-color: burlywood;
	display: flex;
	
	.square {
		width: 40px;
		height: 11px;
		margin: auto 5px;
		border: dashed;
		border-width: 1px;
	}
}



//IO компоненты
.container_checkbox {
	display: flex;
	// align-items: flex-end;
	position: relative;
	cursor: pointer;
	font-size: 1.0rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 23px;
	// margin-bottom: 12px;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	div {
		// background-color:green;
		padding-top: 1px;
	}

	.checkmark {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		height: 18px;
		width: 18px;
		background-color: $color_content_bg;
		@extend %border_style;

		&::after{
			content: "";
			position: absolute;
			display: none;
			left: 5px;
			top: 1px;
			width: 6px;
			height: 11px;
			border: solid $color_content_bg;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	&:hover input ~ .checkmark {
		background-color: #ccc;
	}

	input:checked ~ .checkmark {
		background-color: $color_main;

		&::after{
			display: block;
		}
	}
}

button {
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	border: 1px solid #d3d9de;
	// box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	padding: 10px 12px;
	background-color: $color_main;
	color: $color_content_bg;
	font-size: 1.0rem;
	&:hover {
		background-color: $color_main_hover;
	}
	&:active {
		padding: 11px 12px 9px 12px;
		// box-shadow: none;
		background-color: $color_main_active;
	}
}

a {
	color: $color_main;
	font-size: 1.0rem;
	text-decoration: none;
}


input {
	&[type=text], &[type=password], &[type=email]{
		@extend %border_style;
		font-size: 1.0rem;
		padding: 7px 10px 5px 10px;
	}
}


.sweet_loading {
	display: flex;
	justify-content: center;
}