$color_main: #5e5373;
$color_main_bg: #fff;
$color_main_hover: rgba(#709684, 0.5);
$color_main_active: #709684;
$color_content_bg: #edeef0;
@function color_bg($alpha: 1) { 
    @return rgba(#18b5a4, $alpha);
}
$color_link: #2196F3;
$height_header: 50px;
$height_footer: 20px;


%shadow_style {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

%border_style {
    border-radius: 3px;
    border: 1px solid #d3d9de;
}