.container_workbench {
	display: flex;
	top: $height_header;
	bottom: $height_footer;
	// width: 100%;
	height: 100%;
	$width_tree: 200px;

	#container_tree, #container_workplace {
		overflow: auto;
		// margin: 5px;
		border-radius: 0;
		background-color: $color_main_bg;
		@extend %border_style;

		&.active_workbench {
			border: solid $color_link;
			border-width: 2px;
		}
	}

	#container_tree {
		// width: $width_tree;
		min-width: $width_tree;
		padding: 10px 0 0 0;
		
		.tree_title {
			cursor: pointer;
			&.hovered {
				background-color: yellowgreen;
			}
		}
	}

	#container_workplace {
		min-width: 250px;
		width: 100%;
		padding: 10px;
	}

	.folder_field, .pipe_field {
		white-space: nowrap;
		z-index: 3;

		.title_object {
			cursor: pointer;
			display: flex;
			align-items: center;
			height: 24px;
			// убираем выделение текста
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;  
			user-select: none;
	
			span {
				height: 15px;
				width: 25px;
				padding: 0 5px 3px 5px;
				
			}
	
			&.hovered {
				background-color: $color_main_hover;
			}
	
			&.active {
				background-color: $color_main_active;
				&:hover{
					background-color: $color_main_active;
				}
			}
			
			&:hover{
				background-color: $color_main_hover;
			}
		}
	}

	.folder_field {
		.title_object { 
			span {
				background: url(../img/open_folder.png) no-repeat center;
				background-size: contain;
			}
		}

		&.close{
			.title_object {
				span {
					background: url(../img/close_folder.png) no-repeat center;
					background-size: contain;
				}
			}
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			.children {
				display: none;
			}
		}
	}

	.pipe_field {
		.title_object {
			span {
				background: url(../img/file.png) no-repeat center;
				background-size: contain;
			}
		}
	}

	.partition_workbench {
		// position: absolute;
		// left: $width_tree + 5px;
		// top: 5px;
		// bottom: 5px;
		// width: 10px;
		min-width: 10px;
		background-color: $color_main_hover;
		cursor: col-resize;
	}
}


.right_click_menu {
	position: fixed;
	border: 1px solid $color_main;
	background-color: $color_content_bg;
	border-radius: 1px;
	// padding: 0 3px;
	.right_click_list {
		li {
			list-style-type: none; 
			width: 100%;
			padding: 3px;
			box-sizing: border-box;
			cursor: pointer;
			border-bottom: 1px solid rgba(#000000, 0.5);
		}
		& :last-child {
			border-bottom: none
		}
		li:hover {
			background: $color_main_hover;
		}
	}


}


@media (max-width: 768px) {
	.container_workbench {
		display: flex;
		top: $height_header;
		bottom: $height_footer;
		height: 100%;


		.close_button {
			top: 15px + $height_header;
		}
		#container_tree, #container_workplace {
			display: none;

			&.active_workbench {
				display: block;
				width: 100%;
				border: none;
			}
		}
		#container_workplace {
			padding-top: $height_header;
		}
		.partition_workbench {
			display: none;
		}
	}

	// .right_click_header {

	// }


	.right_click_menu {
		position: fixed;
		top: 0;
		left: 0;
		// border: 1px solid $color_main;
		background-color: color_bg();
		z-index: 100;
		width: 100%;
		height: 100%;
		// padding: 0 3px;
		
		
		.right_click_list {
			padding: $height_header * 1.4 10px 20px 10px;
			li {
				text-transform: uppercase;
				color: $color_main_bg;
				margin: 0 0 20px 0;
				border-bottom: none
			}

			li:hover {
				background: color_bg();
			}
		}

		.close_button {
			// display: block;
			right: 10px;
			top: 20px;
			width: 30px;
			height: 20px;
			position: absolute;
			
			&::before,&:after {
				content: '';
				background: $color_main_bg;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
			}
	
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}

	}

}