﻿@{
	Layout = null;
}

@*<h2>Main page</h2>*@

@*<p>@User.Identity.Name</p>
	@using (Html.BeginForm("Logout", "User", FormMethod.Post))
	{
		<input type="submit" value="Выход" />
	}
	@Html.ValidationSummary()*@

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript">
        constants = {
			getUsers: '@Url.RouteUrl("DefaultApi", new {controller = "User", action = "UserList" })',
			token: '@Url.RouteUrl("DefaultApi", new {controller = "Identity", action = "Test" })'
        }
	</script>
	<title>Index</title>
</head>
<body>
	<div id="root">
	</div>
	<script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>